*{
    padding: 0;
    margin: 0;
}
#intro{
    background: #2c2c2c;
}
#quote {
    color: white;
    opacity: 0.9;
    position: absolute;
    top: 99px;
    left: 42%;
    align-items: center;
    
}
img {
    position: relative;
    width: 34%;
    top: 2px; 
}
#bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafad2;
    
}
#para{
    opacity: ;
    color: rgb(0, 0, 0);
    width: 55%;
    font-weight: 300;
}
#footer{
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2c2c2c;
    height: 38px;
}
h4{
    opacity: 0.8;
}
